@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Medium.ttf");
}

.weather__card {
  max-width: 1360px;
  height: 80px;

  text-decoration: none;
  list-style-type: none;

  margin: auto;
  margin-top: 20px;
}

.weather__status-reason {
  background: #71da71;
  border-radius: 12px;
}

.weather__status {
  width: 69px;
  height: 40px;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  display: flex;

  margin: auto;

  padding-top: 20px;

  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__reason {
  width: 69px;
  height: 40px;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;

  margin: auto;

  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}


.weather__dropdown {
  /*
  width: 1360px;
  height: 130px;
  */

  margin: auto;
  margin-top: 10px;

  display: flex;
  flex-direction: column;

}

.weather__dropdown-list {

  display: grid;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, 210px);
  grid-gap: 17px 20px;

      list-style-type: none;
  padding: 0;
  margin: 0;

}

.weather__dropdown-card {
  border-radius: 12px;
  width: 210px;
  height: 130px;
  background: #71da71;

}

.weather__dropdown-card-text {
  display: flex;
  justify-content: center;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.weather__dropdown-card-value {
  display: flex;
  justify-content: center;

  color: white;
}

@media screen and (max-width: 580px) {
  .weather__card {
     width: 282px;
    
  }

  .weather__status-reason {
    width: 282px;
}

  .weather__status {
    font-size: 30px;
    
  }

  .weather__reason {
    font-size: 11px;

  }

.weather__dropdown {
  width: 282px;

}

.weather__dropdown-list {

  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 10px 20px;
}

.weather__dropdown-card {
   width: 282px;
   height: 40px;

    display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;

}

.weather__dropdown-card-value {
  padding-left: 10px;
}

}
